{% load static %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart/highcharts.js' %}"></script>
<script src="{% static 'vendor/chart/exporting.js' %}"></script>
<script src="{% static 'vendor/chart/export-data.js' %}"></script>
<script src="{% static 'vendor/chart/accessibility.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>