{% load static %}
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
       <div class="sb-sidenav-menu">
          <div class="nav">
             <a class="nav-link active" href="index.html">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
             </a>
            
             <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategories" aria-expanded="false" aria-controls="collapseCategories">
                <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                Categories
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
             </a>
             <div class="collapse" id="collapseCategories" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                   <a class="nav-link sub_nav_link" href="{%  url 'farmers:all_categories' %}">All Categories</a>
                   <a class="nav-link sub_nav_link" href="{% url 'farmers:add_category' %}">Add Category</a>
                </nav>
             </div>
           
          
             <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="false" aria-controls="collapseProducts">
                <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                Products
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
             </a>
             <div class="collapse" id="collapseProducts" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                   <a class="nav-link sub_nav_link" href="{% url 'farmers:all_products' %}">All Products</a>
                   <a class="nav-link sub_nav_link" href="{% url 'farmers:add_product' %}">Add Product</a>
                </nav>
             </div>
             <a class="nav-link" href="orders.html">
                <div class="sb-nav-link-icon"><i class="fas fa-cart-arrow-down"></i></div>
                Orders
             </a>
             <a class="nav-link" href="customers.html">
                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                Customers
             </a>
            
             
           
             <a class="nav-link" href="reports.html">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-bar"></i></div>
                Reports
             </a>
          </div>
       </div>
    </nav>
 </div>