<!DOCTYPE html>
<html lang="en">
   {% include './farmer_index/head.html' %}
   <body class="sb-nav-fixed">
      {% include './farmer_index/nav.html' %}
      <div id="layoutSidenav">
        {% include './farmer_index/sidebar.html' %}
         <div id="layoutSidenav_content">
            <main>
               <div class="container-fluid">
                  <h2 class="mt-30 page-title">Categories</h2>
                  <ol class="breadcrumb mb-30">
                     <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                     <li class="breadcrumb-item"><a href="category.html">Categories</a></li>
                     <li class="breadcrumb-item active">Add Category</li>
                  </ol>
                  <div class="row">
                     <div class="col-lg-6 col-md-6">
                        <div class="card card-static-2 mb-30">
                           <div class="card-title-2">
                              <h4>Add New Category</h4>
                           </div>
                           {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="btn btn-success {{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                           <form method = "POST" action = "{% url 'farmers:add_category' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body-table">
                                <div class="news-content-right pd-20">
                                   <div class="form-group">
                                      <label class="form-label">Name*</label>
                                      <input name="name" type="text" class="form-control" placeholder="Category Name">
                                   </div>
                                   
                                   <div class="form-group">
                                      <label class="form-label">Status*</label>
                                      <select name="status" id="status" name="status" class="form-control">
                                         <option selected>Active</option>
                                         <option value="1">Inactive</option>
                                      </select>
                                   </div>
                                   <div class="form-group">
                                      <label class="form-label">Category Image*</label>
                                      <div class="input-group">
                                         <div class="custom-file">
                                          <input type="file"id="avatar" name="image"accept="image/png, image/jpeg">
                                             </div>
                                      </div>
                                     
                                   </div>
                                   <div class="form-group">
                                      <label class="form-label">Description*</label>
                                      <div class="card card-editor">
                                         <div class="content-editor">
                                            <textarea name="description" class="text-control" placeholder="Enter Description"></textarea>
                                         </div>
                                      </div>
                                   </div>
                                   <button class="save-btn hover-btn" type="submit">Add New Category</button>
                                </div>
                             </div>
                        
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </main>
           
         </div>
      </div>
      {% include './farmer_index/js.html' %}
   </body>
</html>