<!DOCTYPE html>
<html lang="en">
   {% include './farmer_index/head.html' %}
   <body class="sb-nav-fixed">
      {% include './farmer_index/nav.html' %}
      <div id="layoutSidenav">
         {% include './farmer_index/sidebar.html' %}
         <div id="layoutSidenav_content">
            <main>
               <div class="container-fluid">
                  <h2 class="mt-30 page-title">Categories</h2>
                  <ol class="breadcrumb mb-30">
                     <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                     <li class="breadcrumb-item active">Categories</li>
                  </ol>
                  <div class="row justify-content-between">
                     <div class="col-lg-12">
                        <a href="{% url 'farmers:add_category' %}" class="add-btn hover-btn">Add New</a>
                     </div>
                     <div class="col-lg-3 col-md-4">
                       
                     </div>
                     <div class="col-lg-5 col-md-6">
                       
                     </div>
                     <div class="col-lg-12 col-md-12">
                        <div class="card card-static-2 mt-30 mb-30">
                           <div class="card-title-2">
                              <h4>All Categories</h4>
                           </div>
                           <div class="card-body-table">
                              <div class="table-responsive">
                                 <table class="table ucp-table table-hover">
                                    <thead>
                                       <tr>
                                    
                                          <th style="width:60px">ID</th>
                                          <th style="width:130px">Image</th>
                                          <th>Name</th>
                                          <th>Description</th>
                                          <th>Status</th>
                                          <th>Action</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                        {% if all_categories %}
                                        {% for l in all_categories  %}
                                       <tr>
                                          
                                          <td>{{l.id}}</td>
                                          <td>
                                             <div class="cate-img">
                                                <img src="{{l.category_image.url}}" alt="">
                                             </div>
                                          </td>
                                          <td>{{l.category_name}}</td>
                                          <td>{{l.description}}</td>
                                          {% if l.status %}
                                          <td><span class="badge-item badge-status">Active</span></td>
                                          {% else %}
                                          <td><span style="background:blue" class="badge-item badge-status">InActive</span></td>
                                          
                                          {% endif %}
                                          
                                          <td class="action-btns">
                                             <a href="{{l.get_absolute_url}}" class="edit-btn"><i class="fas fa-edit"></i> Edit</a>
                                          </td>
                                       </tr>
                                       {% endfor %}
                                       {% endif %}
                                    
                                      
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </main>
            
         </div>
      </div>
      {% include './farmer_index/js.html' %}
   </body>
</html>